<section class="sidebar">
    {% include 'block/sidebar/_default_user_panel.html.twig' %}
    <!-- search form -->
    {% include 'block/sidebar/_default_search_form.html.twig' %}

    <!-- /.search form -->
    {% include 'block/sidebar/_default_navigation.html.twig' %}

</section>