{% extends 'base.html.twig' %}

{% block title %}Mannequin index{% endblock %}

{% block body %}
    <h1>Mannequin index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mannequin in mannequins %}
            <tr>
                <td>{{ mannequin.id }}</td>
                <td>
                    <a href="{{ path('admin_mannequin_show', {'id': mannequin.id}) }}">show</a>
                    <a href="{{ path('admin_mannequin_edit', {'id': mannequin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_mannequin_new') }}">Create new</a>
{% endblock %}