{% extends 'layout.html.twig' %}

{% block title %}New Mannequin{% endblock %}

{% block content %}
    <h1>Create new Mannequin</h1>

    {{ include('Admin/Mannequin/_form.html.twig') }}

    <a href="{{ path('admin_mannequin_index') }}">back to list</a>
{% endblock %}