{% extends 'layout.html.twig' %}

{% block title %}New Video{% endblock %}

{% block body %}
    <h1>Create new Video</h1>

    {{ include('Admin/Video/_form.html.twig') }}

    <a href="{{ path('admin_video_index') }}">back to list</a>
{% endblock %}