{% extends 'layout.html.twig' %}

{% block title %}Seller index{% endblock %}

{% block body %}
    <h1>Seller index</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seller in sellers %}
            <tr>
                <td>{{ seller.id }}</td>
                <td>
                    <a href="{{ path('admin_seller_show', {'id': seller.id}) }}">show</a>
                    <a href="{{ path('admin_seller_edit', {'id': seller.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_seller_new') }}">Create new</a>
{% endblock %}