{% extends 'layout.html.twig' %}

{% block title %}Edit Tailor{% endblock %}

{% block content %}
    <h1>Edit Tailor</h1>

    {{ include('Admin/Tailor/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_tailor_index') }}">back to list</a>

    {{ include('Admin/Tailor/_delete_form.html.twig') }}
{% endblock %}