{% extends 'base.html.twig' %}

{% block title %}Tailor index{% endblock %}

{% block body %}
    <h1>Tailor index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tailor in tailors %}
            <tr>
                <td>{{ tailor.id }}</td>
                <td>
                    <a href="{{ path('admin_tailor_show', {'id': tailor.id}) }}">show</a>
                    <a href="{{ path('admin_tailor_edit', {'id': tailor.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_tailor_new') }}">Create new</a>
{% endblock %}