{% extends 'base.html.twig' %}

{% block title %}Edit ParticularAccesse{% endblock %}

{% block body %}
    <h1>Edit ParticularAccesse</h1>

    {{ include('security_particular_accesse/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('security_particular_accesse_index') }}">back to list</a>

    {{ include('security_particular_accesse/_delete_form.html.twig') }}
{% endblock %}