{% extends 'base.html.twig' %}

{% block title %}Edit Visitor{% endblock %}

{% block body %}
    <h1>Edit Visitor</h1>

    {{ include('admin_visitor/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_visitor_index') }}">back to list</a>

    {{ include('admin_visitor/_delete_form.html.twig') }}
{% endblock %}