{% extends 'layout.html.twig' %}

{% block title %}Welcome! index page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {#<p> Hello! welcome yo my page - index of Hepatron </p>#}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

