{% extends 'Web/Front/front_layout.html.twig' %}

{% block title %}Welcome! index page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        <p> Hello! welcome to my page - index of Hepatron </p>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

