{% extends 'layout.html.twig' %}

{% block title %}New Publication{% endblock %}

{% block content %}
    <h1>Create new Publication</h1>

    {{ include('Middle/Publication/_form.html.twig') }}

    <a href="{{ path('middle_publication_index') }}">back to list</a>
{% endblock %}
